
1.Write a program in Python to display the Factorial of a number

In [ ]:

fact=1
for y in range(1,9):
  fact=fact*y
print(fact)

40320

2.Write a program in Python to reverse a word with the help of while loop and for loop

In [ ]:
x=input("enter a string:")
y=""
i=0
for z in x:
  i=i-1
  y=y+x[i]
print(y)

enter a string:meena
aneem

In [ ]:
x=input("enter a string:")
y=""
i=len(x)-1
while i>=0:
  y=y+x[i]
  i=i-1
print(y)

enter a string:meena
aneem

3.Write a program to print n natural number in descending order using a while loop.

In [ ]:
x=int(input("enter a num:"))
i=x
while i>0:
  print(i)
  i=i-1

enter a num:8
8
7
6
5
4
3
2
1

4.Write a program to print multiplication table of any given number

In [ ]:
x=int(input("enter a num:"))
for y in range(1,11):
  print("{}x{}={}".format(x,y,x*y))

enter a num:5
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
5x10=50

5.Count the total number of digits in a number.Example For example, the number is 758692, so the output should be 6

In [ ]:
x=int(input("enter anum:"))
count=0
for y in str(x):
  count=count+1
print(count)

enter anum:5678
4

7.Display Fibonacci series up to 10 terms
(The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34.)

In [ ]:
n1=0
n2=1
print(n1)
print(n2)
for y in range(1,11):
  n3=n1+n2
  n1=n2
  n2=n3
  print(n3)

0
1
1
2
3
5
8
13
21
34
55
89

8.Write a Python program that accepts a word from the user and reverses it.

In [ ]:
x=input("enter a word:")
i=len(x)-1
z=""
for y in x:
  z=z+x[i]
  i=i-1
print(z)

enter a word:tarunkumar
ramuknurat